<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="testequinoxtransform.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="testequinoxtransform.Perspective"
            id="TestEquinoxTransform.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <!--<view
            name="View"
            class="testequinoxtransform.View"
            id="TestEquinoxTransform.view">
      </view>-->
      <view
            class="testequinoxtransform.TestView"
            id="TestEquinoxTransform.view1"
            name="name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="TestEquinoxTransform.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="TestEquinoxTransform.application"
            name="TestTransform">
         <property
               name="appName"
               value="TestTransform">
         </property>
      </product>
   </extension>

</plugin>
