<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="testactivities.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="testactivities.intro.Perspective"
            id="TestActivities.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="TestActivities.application"
            name="RCP Product">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="testactivities.intro">
      </intro>
      <introProductBinding
            introId="testactivities.intro"
            productId="TestActivities.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="testactivities.intro"
            content="introContent.xml"
            id="TestActivities.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="File"
               label="File">
            <command
                  commandId="org.eclipse.ui.file.restartWorkbench"
                  style="push">
            </command>
            <separator
                  name="TestActivities.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.import"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.print"
                  style="push">
            </command>
         </menu>
         <menu
               id="com.run"
               label="Run">
            <command
                  commandId="TestActivities.testCommand"
                  label="ToggleFileImport"
                  style="push">
            </command>
            <separator
                  name="TestActivities.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="TestActivities.togglePrint"
                  style="push">
            </command>
         </menu>
         <toolbar
               id="TestActivities.toolbar2"
               label="Test">
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="TestActivities.customActivity"
            name="CustomActivity">
      </activity>
      <activityPatternBinding
            activityId="TestActivities.customActivity"
            pattern="TestActivities/org.eclipse.ui.file.import">
      </activityPatternBinding>
      <activity
            id="TestActivities.activity3"
            name="RemovePrintActivity">
         <enabledWhen>
            <with
                  variable="isCommadToTogglePrintMenu">
               <equals
                     value="enabled">
               </equals>
            </with>
         </enabledWhen>
         
      </activity>
      <activityPatternBinding
            activityId="TestActivities.activity3"
            pattern="TestActivities/org.eclipse.ui.file.print">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="testactivities.CustomHandlerForActivity"
            id="TestActivities.testCommand"
            name="TestCommand">
      </command>
      <command
            defaultHandler="testactivities.TogglePrintHandler"
            id="TestActivities.togglePrint"
            name="TogglePrint">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="testactivities.CustomSourceProvider">
         <variable
               name="isCommadToTogglePrintMenu"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>

</plugin>
